{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!-- Fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Sucursal</h2>
        <!-- Aquí codigo tarjeta -->

        <div class="card"> <!-- La tarjeta -->
            <div class="card-body">
                <form action="/editarSucursal/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group py-2">
                        <input type="text" id="numidsucursal" name="numidsucursal" class="form-control" value="{{missucursales.id_sucursal}}" minlength="1" maxlength="6" readonly required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{missucursales.nombre}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" value="{{missucursales.direccion}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numtelefono" name="numtelefono" class="form-control" value="{{missucursales.telefono}}" minlength="1" maxlength="10" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtgerente" name="txtgerente" class="form-control" value="{{missucursales.gerente}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtcorreo" name="txtcorreo" class="form-control" value="{{missucursales.correo}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txthorario" name="txthorario" class="form-control" value="{{missucursales.horario}}" maxlength="30" required>
                    </div>

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-dark">Guardar Sucursal</button>
                    </div>
                </form>
            </div>
        </div> <!-- La tarjeta -->

        <!-- Aquí codigo tarjeta -->
    </div> 
</div> <!-- Fila en editar-->

{% endblock %}