{% extends "base.html" %}

{% block cuerpo %}
    
{% load static %}
<div class="row"> <!--La fila-->
    
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!-- Columna Izquierda-->
        <h1>Sucursal</h1>

        <div class="card"> <!-- La tarjeta -->
            <div class="card-body">
                <form action="registrarSucursal/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group py-2">
                        <input type="text" id="numidsucursal" name="numidsucursal" class="form-control" placeholder="Id Sucursal" minlength="1" maxlength="6" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre Sucursal" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Direccion Sucursal" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numtelefono" name="numtelefono" class="form-control" placeholder="Telefono Sucursal" minlength="1" maxlength="10"required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtgerente" name="txtgerente" class="form-control" placeholder="Gerente Sucursal" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtcorreo" name="txtcorreo" class="form-control" placeholder="Correo de Sucursal" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txthorario" name="txthorario" class="form-control" placeholder="Horario de atencion" maxlength="30" required>
                    </div>

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-dark">Guardar Sucursal</button>
                    </div>
                </form>
            </div>
        </div> <!-- La tarjeta -->

    </div> <!-- Columna Izquierda-->

    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"> <!-- Columna derecha -->
        <h1>Listdo de Sucursales</h1>
        <img class="w-50" src="{% static "img/sucursal.png" %}" alt="Mejia" width="100" height="">
        <!-- La tabla -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id Sucursal</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Gerente</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Horario</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for m in missucursales %}
                    <tr>
                        <td> {{m.id_sucursal}} </td>
                        <td> {{m.nombre}} </td>
                        <td> {{m.direccion}} </td>
                        <td> {{m.telefono}} </td>
                        <td> {{m.gerente}} </td>
                        <td> {{m.correo}} </td>
                        <td> {{m.horario}} </td>
                        <td><a href="seleccionarSucursal/{{m.id_sucursal}}" class="btn btn-secondary">Editar</a></td> <!-- Falta -->
                        <td><a href="borrarSucursal/{{m.id_sucursal}}" class="btn btn-dark">Borrar</a></td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!-- La tabla -->
    </div> <!-- Columna derecha -->

</div> <!--La fila-->
{% endblock %}