{% extends "base.html" %}

{% block cuerpo %}

<div class="row"> <!-- Fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Proveedor</h2>
        <!-- Aquí codigo tarjeta -->

        <div class="card"> <!-- La tarjeta -->
            <div class="card-body">
                <form action="/editarProveedor/" method="POST"> {% csrf_token %} <!-- Falta action -->
                    <div class="form-group py-2">
                        <input type="text" id="numidproveedor" name="numidproveedor" class="form-control" value="{{misproveedores.id_proveedor}}" minlength="1" maxlength="6" readonly required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{misproveedores.nombre}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" value="{{misproveedores.direccion}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numtelefono" name="numtelefono" class="form-control" value="{{misproveedores.telefono}}" maxlength="10" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtcorreo" name="txtcorreo" class="form-control" value="{{misproveedores.correo}}" maxlength="50" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtproducto" name="txtproducto" class="form-control" value="{{misproveedores.tipo_de_producto}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="txtentrega" name="txtentrega" class="form-control" value="{{misproveedores.tipo_de_entrega}}" maxlength="100" required>
                    </div>

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-dark">Guardar Proveedor</button>
                    </div>
                </form>
            </div>
        </div> <!-- La tarjeta -->

        <!-- Aquí codigo tarjeta -->
    </div> 
</div> <!-- Fila en editar-->

{% endblock %}